{% extends "base.html" %}
{% block title_block %}Xerblin Demo Page{% endblock %}
{% block extra_head %}
<style>
/* from Foundation CSS */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { background-color: white; font-family: inherit; border: 1px solid #cccccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); display: block; font-size: 14px; margin: 0 0 12px 0; padding: 6px; height: 32px; width: 100%; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize { font-size: 17px; padding: 4px 6px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #fafafa; border-color: #b3b3b3; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: #ddd; }
textarea { height: auto; }
select { width: 100%; }

/* Some bits of miscellaneous CSS */

@import url(http://fonts.googleapis.com/css?family=Cutive|Oxygen:400,700);

body {
    line-height: 1.5;
    font-family: 'Oxygen', serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6, .heavy {
	font-family: 'Cutive', sans-serif;
	font-weight: bold;
}


#container {
  border: 1px dashed gray;
  padding-left: 2em;
}

#commande, #meta_controls {
  display: inline;
}

#commande {
  width: 38%;
}

form {
  padding: 1em;
  margin: 0.5em;
}

#docs {
/*
  font-family: 'Cutive',sans-serif;
  max-width: 33em;
  margin-left: 5em;
*/
}
#docs ul {
  border: none;
  margin-left: 2em;
}

#container ul {
  border: 1px dashed gray;
  padding: 3px;
  margin: 3px;
}

</style>
{% endblock %}
{% block script %}
<script src="./static/xerblin.slim.js"></script>
<script src="./static/main.js"></script>
{% endblock %}
{% block body %}
<h1>Xerblin</h1>
<h3>a Human-Computer Interface</h3>

<p>Welcome to the <span class="heavy">Xerblin Demo</span>, a live interactive interpreter embedded in a webpage.</p>

<div id="docs">

<p>Xerblin provides a single metaphor for interacting with computers that's simple enough to teach to children yet provides facilities that are useful to advanced programmers. It can integrate all levels of software from the <a href="http://thinkpigeon.blogspot.com/2012/12/crushingly-simple-user-interface.html">Desktop</a> to <a href="https://github.com/PhoenixBureau/PigeonComputer/blob/master/docs/pigeon_firmware.rst">assembly language</a>.

<p>There are three basic user-facing elements to a Xerblin system.

<ul>
    <li><span class="heavy">Stack</span> - a place to put objects for user manipulation. This is similar to a Clipboard but it can hold more than one item at a time. Commands operate on the items on the Stack.
    <li><span class="heavy">Dictionary</span> - a place to keep commands. Any command that is inscribed in the Dictionary can be run from the user interface.
    <li><span class="heavy">Interpreter</span> - A very simple command interpreter that takes care of running commands with the Stack. 
</ul>

  <div id="container">

  <div style="float:left">
   <h3>Stack of Data</h3>
   <ul id="stack_display"></ul>
  </div>

  <div style="float:right;width:62%">
   <h3>Dictionary of Commands</h3>
   <div id="dictionary_buttons"></div>
  </div>

  <div style="clear:both;"></div>
  <div>
   <h3>Interpreter</h3>
   <form>
    <input id="commande" name="command" type="text" />
    <div id="meta_controls">
     <a href="#" id="runit">interpret</a>
     <a href="#" id="stackit">push as text</a>
     <a href="#" id="clear_entry">clear text</a>
    </div>
   </form>
  </div>

  </div>

<p>In addition to the above three UI elements there are discrete commands that provide the basic functionality of the system and that can be composed into more complex commands. They live in the Dictionary and act upon the Stack. They can be composed into compound commands using three primal relations:

<ul>
    <li><span class="heavy">Sequence</span> - do one thing after another.
    <li><span class="heavy">Loop</span> - do something over again.
    <li><span class="heavy">Branch</span> - do one thing or another.
</ul>

<p>Using the above three relations compound commands can be composed to perform more involved tasks using the built-in or user-provided "primitives" and other compound commands.

<p>Composition can be done by program, by command line, in the GUI using the mouse and keyboard, or by means of parsing languages.

<p>With a rich set of basic commands and the four kinds of compound commands you have a completely general computer interface that allows for customization and flexibility and can be easily understood and mastered by the average user.

<h4>Links</h4>

<p>Some links:

<ul>
    <li><a href="https://code.google.com/p/xerblin/">The old project on Google Code</a>. This is still the reference implementation.
    <li><a href="http://phoenixbureau.github.com/PigeonComputer/">Pigeon Computer</a> is a project I have to develop a simple system to teach computer programing. It includes both a low-level version in assembly language and a high-level version in Python with a Tkinter GUI.
    <li><a href="https://github.com/calroc/aum-gravity/tree/mk">Experimental web versions.</a> The Python version embedded in a Flask server, and a Javascript port of the Xerblin engine along with a couple of demo pages.
</ul>

<h4>Historical Info</h4>

<p>Way back in the day, over a decade ago, the original source for what became "xerblin" was a book &quot;<a href="http://lccn.loc.gov/84016063">System Design from Provably Correct Constructs</a>&quot; by <a href="https://en.wikipedia.org/wiki/James_Martin_%28author%29">Dr. James Martin</a> <a href="http://www.oxfordmartin.ox.ac.uk/founder/">founder, Oxford Martin School</a> (<a href="http://www.jamesmartin.com/">personal website</a>).

<p><span class="heavy">Must mention:</span>
<ul>
<li>Oberon (Wirth, et. al.)
<li>Forth (Moore, et. al.)
<li>Jef Raskin, "The Humane Interface"
<li>Ted Nelson, "Dream Machines"/"Computer Lib"
<li>Dynabook, (Kay et. al.)
</ul>

Okasaki (sp?) Amortized Persistant Datastructures

</div>
{% endblock %}
